* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.editorbody {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #17202A;
}

.main {
    height: 80vh;
    width: 100%;
    margin: auto;
    display: flex;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    box-shadow: 0.1px 4px 8px 5px rgba(0, 0, 0, 0.1);
}


/*Tools part*/
.Tools {
    height: 100%;
    width: 10%;
    box-shadow: 0.1px 4px 8px 5px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.05);
}

.Tools ul {
    list-style: none;
}

.Tools ul li {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.4s;
}

.Tools ul .active_option {
    background: rgba(255, 255, 255, 0.1);
}

.Tools ul .active_option p {
    opacity: 1;
    margin-top: 8px;
}

.Tools ul .active_option i {
    color: #FF7043;
}

.Tools ul li i {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    font-size: 2em;
}

.Tools ul li:hover i {
    color: #FF7043;
}

.Tools ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.Tools ul li:hover p {
    opacity: 1;
    margin-top: 8px;
}

.Tools ul li p {
    opacity: 0;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}


/*content part */
.content {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.content #logo {
    position: absolute;
    top: 10px;
    right: 20px;
    letter-spacing: 3px;
    font-family: 'Staatliches', cursive;
    color: rgba(255, 255, 255, 0.5);
}

.choose_image {
    width: 70%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload_img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px dashed rgba(255, 255, 255, 0.5);
}

p#hint {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
}

.upload_img_box i {
    font-size: 2.2em;
    color: rgba(255, 255, 255, 0.5);
}

#selectedImage {
    display: none;
}


/*canvas */
#image_canvas {
    display: none;
}


/*image holder part*/
.image_holder {
    position: relative;
    display: none;
    width: 100%;
    height: 80%;
}

.image_holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.image_holder button {
    position: absolute;
    display: none;
    top: -30px;
    left: 0px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FF7043;
    font-size: 1.8em;
    background: none;
    transform: rotate(270deg);
}


/*options part */
.options {
    position: absolute;
    transform: translateY(80px);
    bottom: 0;
    height: 50px;
    width: 50%;
    padding: 0 25px;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    box-shadow: 0.1px 4px 8px 5px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.05);
}

.options .active_controller {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.option {
    display: none;
}

.option p {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}

/*Range slider*/
input[type="range"] {
    width: 80%;
    height: 5px;
    cursor: pointer;
    outline: none;
}


/*clear or reset btn */
#clearAll {
    position: absolute;
    bottom: 10px;
    right: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    padding: 10px;
    color: #17202A;
    background: #FF7043;
    transform: translateX(150px);
    box-shadow: 0.1px 4px 8px 5px rgba(0, 0, 0, 0.1);
}

#clearAll span {
    margin-right: 10px;
}